<h5 class="font-semibold">About me</h5>
<div class="line line-dashed"></div>
<div class="m-b-lg">
  <span class="pull-left thumb-sm avatar m-r-sm v-middle">
    <img src="/assets/images/avatar.jpg" class="img-circle">
  </span>
  <div class="clear me-github">
    <p>
      <a href="https://github.com/zyingming" target="_blank" title="GitHub">
        <i class="fa fa-fw fa-github"></i> GitHub
      </a>
    </p>
    <p>
      <a href="javascript:void(0)" title="QQ邮箱">
        <i class="fa fa-fw fa-envelope-o" style="font-size: 13px"></i> 2570332082@qq.com
      </a>
  </div>
</div>

