<article class="media">
  {% include display_icon_text.html %}
  <div class="media-body">
    <a href="{{ post.url | prepend: site.baseurl }}" class="h3 text-success">{{ post.title }}</a>
    <em class="text-xs font-style-normal">
      <i class="fa fa-calendar" aria-hidden="true" style="margin-right: 5px"></i>
      <span class="font-normal">{{ post.date | date: "%b %-d, %Y" }}</span>
    </em>
    <small class="m-t-xs left-20">
      {% for post_tag in post.tags %}
        {{ post_tag }}
        {% unless forloop.last %}, {% endunless %}
      {% endfor %}
    </small>
  </div>
</article>
{% unless forloop.last %}
  <div class="line pull-in"></div>
{% endunless %}
