<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
  {% include header.html %}
  <section id="content">
    <div class="container m-t-lg m-b-lg">
      <div class="row">
        <div class="col-sm-12">
          <div class="blog-post">
          <!-- Begin Post -->
            <div class="post-item">
              <div class="caption wrapper-lg">
                <h2 class="post-title">{{ page.title }}</h2>
                <div class="post-meta">
                  <span><i class="fa fa-calendar" aria-hidden="true" style="margin-right: 5px"></i>
                    {{ page.date | date: "%b %-d, %Y" }}
                  </span>
                  <span>
                    {% for post_tag in page.tags %}
                      <i class="fa fa-tags right-5" aria-hidden="true"></i> {{post_tag}}
                      {% unless forloop.last %}, {% endunless %}
                    {% endfor %}
                  </span>
                </div>
                <!-- <div class="progress progress-xxs m-t-sm">
                  <div class="progress-bar progress-bar-success" data-toggle="tooltip" style="width: 100%"></div>
                </div> -->
                <div class="post-sum">
                  {{ content }}
                </div>
                <div class="pagination pagination-post">
                  {% if page.next %}
                    <a href="{{ site.baseurl}}{{ page.next.url }}" class="next">
                    <i class="fa fa-caret-left right-5" aria-hidden="true"></i>{{page.next.title}}
                  </a>
                  {% endif %}
                  {% if page.previous %}
                    <a href="{{ site.baseurl}}{{ page.previous.url }}" class="previous">
                      {{page.previous.title}}<i class="fa fa-caret-right left-5" aria-hidden="true"></i>
                    </a>
                  {% endif %}
              </div>
              </div>
            </div>
          <!-- End Post -->
          </div>
        </div>
      </div>
    </div>
  </section>
  </body>
</html>
